RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_INPUT_QUEUE=plugin.analysis.runner-translate
RABBITMQ_REPORT_EXCHANGE=plugin.analysis.reports
RUNNER_NAME=runner-translate
